.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 15vh;
  left: 33%;
  min-width: 30vw;
  min-height: 60vh;
  /* margin: 0rem 0rem; */
  padding: 0rem 0rem;
  z-index: 30;
  border-radius: 1rem;
  /* background-color: rgb(19, 26, 42); */
  background-color: #0d111c;
  color: rgb(152, 161, 192);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  font-weight: 500;
}

/* @media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */
