.home {
  padding: 68px 8px 0px;
  max-width: 480px;
  width: 100%;
  margin: auto;
}
.section {
  position: relative;
  background: rgb(13, 17, 28);
  border-radius: 16px;
  padding: 8px;
  z-index: 1;
  transition: transform 250ms ease 0s;
}
