.SwapCurrencyInputFrame {
  background-color: rgb(19, 26, 42);
  border-radius: 1rem;
  color: rgb(152, 161, 192);
  font-size: 14px;
  min-height: 13vh;
  font-weight: 500;

  padding: 1rem 1rem;
  margin: 0.5rem 0rem;
}
.SwapCurrencyInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(152, 161, 192);
  /* font-size: 14px; */
  /* line-height: 20px; */
  font-weight: 500;

  padding: 0rem;
}
.token-amount-input {
  background-color: transparent;
  filter: none;
  opacity: 1;
  transition: opacity 0.2s ease-in-out 0s;
  text-align: left;
  width: 90%;
  font-size: 3rem;
  font-variant: small-caps;
  font-weight: 400;
  outline: none;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.resultInputPrice {
  font-size: 0.8rem;
  background-color: rgb(19, 26, 42);
  color: white;
}
